doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title Recreating the PyCon AU 2015 site in Wagtail in under 30 minutes
		meta(name="author" content="Tim Heap")

		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width")

		link(rel="stylesheet" href="http://openfontlibrary.org/face/hilo-deco")
		link(rel="stylesheet" href="css/app.css")

	body

		article.slides#slides
			include slides.jade

		script(src="js/app.js")
