
section.slide.slide__title(data-orbit)
	h1 Recreating the PyCon AU 2015 site in Wagtail in under 30 minutes


section.slide
	header.slide--header: h1 Tim Heap
	.slide--body
		p: a(href="https://twitter.com/tim_heap") twitter.com/tim_heap
		p: a(href="https://github.com/timheap/") github.com/timheap
		p: a(href="https://bitbucket.org/tim_heap/") bitbucket.org/tim_heap
		p: a(href="http://timheap.me") timheap.me
		p: a(href="mailto:hi@timheap.me") hi@timheap.me
		p: a(href="http://takeflight.com.au") Takeflight

section.slide
	header.slide--header: h1 Wagtail
	.slide--body
		p.bullet
			| Made by 
			a(href="https://torchbox.com/") Torchbox
			|  in the UK
		p.bullet CMS built on Django
		p.bullet First release in 2014
		p.bullet Just released 1.0
		p.bullet: a(href="http://wagtail.io/") wagtail.io

section.slide
	header.slide--header: h1 Made with Wagtail
	.slide--body
		img.right(src="img/made-with-wagtail.png" width=1000)
		p.bullet A collection of Wagtail sites made by developers around the world
		p.bullet
			| Made by 
			a(href="http://www.springload.co.nz/") Springload
			|  in NZ
		p.bullet Is made in Wagtail
		p.bullet: a(href="http://madewithwagtail.org/") MadeWithWagtail.org

section.slide.slide__title
	h1 Lets get coding!

section.slide
	header.slide--header: h1 Thanks
	.slide--body
		dl
			dt PyCon site in Wagtail:
			dd: a.icon--github(href="https://github.com/timheap/djangocon-2015-wagtail")
				| timheap/djangocon-2015-wagtail
			dt Slides (all six of them):
			dd: a.icon--github(href="https://github.com/timheap/djangocon-2015-slides")
				| timheap/djangocon-2015-slides
